/********************* MainColors**************** 

turquoise rgb(68,217,216)
orange  rgb(246,162,59)
grey  darkgrey/grey
text-color  #777
********/

body, html {
	color: #777;
	background: rgb(244, 246, 246);
}

button#regBtn{color:white;background-color:rgb(68,217,216)}

li.w3-bar-item.active a{
   background:rgb(68,217,216);
}

button.active {
     background:white/*rgb(68,217,216);*/
}

#abstractType button.active {
   background: rgb(68,217,216);
   color:white;
}

.abstractInfo h3, .fa, .fa-envelope + span{
  color:rgb(68,217,216);
}

.abstractInfo{
  border:8px solid rgb(68,217,216)
}

.triangle-left {
  border-left: 450px solid #484848;/*rgb(68,217,216);*/
  border-right: none;
  border-top: 0px solid #484848;/*rgb(68,217,216);*/
  border-bottom: 200px solid transparent;
}

.w3-text-orange,.w3-hover-text-orange:hover{
  color:rgb(68,217,216);
}

.w3-border-orange,.w3-hover-border-orange:hover{border-color:rgb(68,217,216)!important}


.w3-pale-orange,.w3-hover-pale-orange:hover{color:#777!important;background-color:#ccffff!important}

input:focus, select:focus{
  background-color: #eee;
}

li.w3-bar-item a{
	color:white;
    background: rgb(90,90,90);
	border-right:1px solid rgb(218,218,218);

  }


	
#myNavList li.w3-bar-item a:hover{
	background: white;
	color:rgb(68,217,216);
    opacity: 0.7;
}

  li.w3-bar-item:nth-of-type(1) a{
  border-left:1px solid rgb(218,218,218);
  }

nav.w3-bar#mySidenav{
	background: rgb(72,72,72);
}

.title-banner-1{
 border-left:4px solid rgb(246,162,59);
 border-right:4px solid rgb(68,217,216);
}

.title-banner-2{
  color:white;
  background-color:rgb(68,217,216);
}
  .w3-bar-item:hover{
    background: lightgrey;
  }

   #home .w3-display-middle{
     background:white;
    opacity: 0.9;
  }

  .bgimg-2,.bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10,.bgimg-11{
  	background-color:rgb(68,217,216);
  }
 #dateDiv:hover{
    color:rgb(68,217,216);
  }



