/* 
    Created on : Jul 24, 2016, 3:24:27 PM
    Author     : greenearth
    Modified:  May 2017;
    Authors: leonakuse, gretaharbig;
*/
/********************* Colours**************** 

turquoise rgb(68,217,216)
orange  rgb(246,162,59)
grey  darkgrey/grey
text-color  #777


--> Colors are now handled in colors.css
*/
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.otf');
    font-weight: 300;
}
@font-face{
  font-family: 'MyriadPro-Cond';
    src: url('../fonts/MyriadPro-Cond.otf');
}
h1,h2,h3,h4,h5{
  font-family:MyriadPro-Cond;
}



/*body,h1,h2,h3,h4,h5,h6 {font-family: "Comic Sans", sans-serif;}*/
body, html {
  height: 100%;
  width:100%;
  line-height: 1.8;
  min-width: 250px;
  font-family: MyriadPro-Regular;
  
}

.logoLi{
  padding-top:5px;
  padding-bottom:5px;
  width:50%;
  float: left ;
  text-align:center;
  outline: none;
  list-style-type: none;
  display:block;
  height:100%;
  }

  .logoLi img{
    position: relative;
   height:100%;
  }

.triangle-left {
  width: 0; 
  height: 0; 
  color:white;
}
/*@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {*/
    /*#keynotespeakers{*/
        /*width:100%;*/
    /*}*/

    /*.keynoteSpeaker{*/
        /*width:100%;*/
    /*}*/

    /*.keynoteSpeaker .w3-third{*/
        /*text-align: right;*/
    /*}*/
    /*.keynoteSpeaker .w3-four-third{*/
        /*padding-left:8px;*/
    /*}*/
    /*.keynoteSpeaker .w3-col{*/
        /*margin-bottom:15px;*/
    /*}*/
    /*.keynoteSpeaker .flex-item {*/
        /*width:20%;*/
    /*}*/
/*}*/

.keynoteSpeaker{
   padding-left:0;
   padding-right:0;
}

.keynoteSpeaker .w3-third{
  text-align: right;
  flex: 1;
 }
 .keynoteSpeaker .w3-four-third{
  padding-left:8px;
  flex:1;
 }
 .keynoteSpeaker .w3-col{
  margin-bottom:15px;
  display: flex;
 }

.keynoteSpeaker .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
    align-content: stretch;

}
.keynoteSpeaker .flex-item {
    padding: 5px;
    width: 300px;
    text-align: left;
    margin:10px;
}
#ie10Div{
    display:none;
}
@supports not (display: flex) {
    .keynoteSpeaker .flex-container {
        background:blue;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #notIeDiv{
        display: none;
    }
    #ie10Div{
        display:block;
    }
}





.w3-content .fa{
  width:30px;
}

#conferenceChairs{
  height:100%;
}
#conferenceChairs>div>img{
  border-radius:8em;
}
.w3-tag{
  margin:4px;
}

#conferenceChairs .w3-section, #conferenceChairs img {
  height: 100%;
}

.abstractInfo{
  padding:8px;
  /*border:2px solid lightgrey;*/
}


#mapvenue{
  width:80%;
  margin-left: 10%; 
  height:300px;
}
#abstractType,#abstractTypeB button{
  font-size:12pt;
  color:#f1f1f1;
  border-bottom: 1px solid white;
  background: rgb(90,90,90);
    height:100%;
}

#abstractType{
  position:absolute;
  width:130px;

}
#abstractTypeB{
    background: rgb(90,90,90);
    width:100%;
}

#abstract .w3-content>div{
    position: relative;
    height:auto;
    padding:0;
}

#abstract .w3-content>div>div{
    height:70%;
}

.abstractInfo{
  padding-left: 20px;
}

#MiniT,#OralPres{
    display:none;
}

  li.w3-bar-item a{
    text-decoration: none;
    padding:9px 12px 9px 12px;
	   height:100%;
     width:100%;
     display: block;
  }
  li.w3-bar-item{
	height:100%;
  }
  

  li.w3-bar-item img{
	  height:100%;
  }


nav.w3-bar#mySidenav{
 /* border-bottom: 8px solid rgb(68,217,216);*/
  width:100%;
  text-align:center;
  padding:0;
  display: block;
  position: fixed;
  z-index: 2;


}
nav.w3-bar#mySidenav ul{
  padding:0;
  margin:0;
  margin-left:1%;
  width:98%;
}

#titleBox{
 /* width:25%;*/
  height:70%;
  position:fixed;
  top:15%;
  left:60%;
  width: 15%;
}
#titleBox img{
  height:100%;
}

 #home .w3-display-bottommiddle{
    width:100%;
   /* border-top:8px solid rgb(68,217,216);*/
    white-space:nowrap;
  }
 
.title-banner-1{
 text-align:left;
}

  li.w3-bar-item.current {
    font-weight: bold;
  }

 ul{
    list-style-type: square;
 }
@media (min-width:1400px){.w3-my-hide-large{display:none!important}}
@media (max-width:1399px) and (min-width:601px){.w3-my-hide-medium{display:none!important}}


/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10 ,.bgimg-11{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

#venue, #contact,#abstract,#keynotespeakers{
   width:100%;
}


.bgimg-1{
  opacity: 1;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
/* Turn off parallax scrolling for tablets and mobiles */

.haifatourism{
  display: block;
  width: 448px;
  height: auto;
  margin: 0;
}
@media only screen and (max-width:600px){

  #myNavList{
 /* border-bottom: 8px solid rgb(68,217,216);*/
 display: none;
   
  }

  #myNavList .w3-bar-item{
    width:100%;
  }
  .w3-bar .w3-bar-item{
     text-align:left;
  }
    
    li.w3-bar-item a,li.w3-bar-item:nth-of-type(1) a{
     border:0;
   }  

  .bgimg-1 {
    /*background-image: url('http://www.w3schools.com/w3css/img_parallax1.jpg');*/
    background-image: url('../images/cologneFull.jpg');
   height:100%;
  }
  .bgimg-2,.bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10,.bgimg-11{
    min-height: 200px;
  }
  .logo{
    width:30%;
  }
  .home-cochair{
    height: 150px;width: auto;
  }
  .program-overview{
    width: 300px;height: auto;
  }
  .haifatourism img{
    width: 50%;
  }



}

@media only screen and (max-width: 960px) {
 .keynoteSpeaker .flex-item {
    width: 250px;
  }

    #logoFooter img {
        margin-top:40px;
        width:60%;
        margin-left: 20%;
    }
  }
@media only screen and (min-width:601px){
  .w3-col.s22{width:19.99999%;margin-top:7px !important;margin-bottom: 7px !important;}
  /* Logo. Full height */
  .bgimg-1 {
    /*background-image: url('http://www.w3schools.com/w3css/img_parallax1.jpg');*/
    background-image: url('../images/cologneFull.jpg');
    height: 100%;
   /* width:90%;
    margin-left:5%;*/
  }
  .bgimg-2,.bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10,.bgimg-11{
    min-height:200px;/*min-height:200px;*/
  }
  .logo{
    width: 40%;
  }
  .home-cochair{
    height: 200px;width: auto;
  }
  .haifatourism img{
    width: 75%;
  }
}

#customPadding{
    margin-left:130px;
}
#crlfSpan{
    display:none;
    padding: 0;
    margin: 0;
    line-height:0.9em;
}

@media only screen and (min-width:527px) {
    #crlfSpan{
        display:block;
    }
}

@media only screen and (max-width:600px){
  .w3-col.s22{margin-top:7px !important;margin-bottom: 7px !important;}

    #customPadding{
        margin-left:0;
    }

    #abstractTypeB button{
        width: 33.33%;
        height:100%;
        float:left;
        margin-bottom: 0;
        border:0;

    }

    button4,button5, button6 {
        height:100%;
    }
    #abstractTypeB{
        float:left;
        margin:0;
        padding:0;
    }


    #abstractTypeB .abstractInfo{
        border:8px solid rgb(72,72,72);
    }
}

@media only screen and (max-width: 1100px) {
  .myLargeHide{
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  nav.w3-bar#mySidenav ul{
    padding:0;
      margin: 0 0 0 0;
      width:100%;

  }
    #conferenceChairs .w3-border-top{
        border-bottom: 1px solid #ccc;
    }


  li.w3-bar-item a{
    text-decoration: none;
    /*background: yellow;*/
    padding:7px 10px 7px 10px;
     height:100%;
     width:100%;
     display: block;
  }
}
@media only screen and (max-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10 ,.bgimg-11{
    background-attachment: scroll;
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-flex-flow: row wrap;
  justify-content:  stretch;
  }

.flex-item {
  padding: 5px;
  width: 200px;
  text-align: left;
  margin:10px;
  height:100%;

}


#main>.flex-container{
   background: white;
}

ul#myNavList + div{
    height:45px;
    float:right;
    text-align:right;
    padding-right:15px;
    color:white;
    width:20%
}

ul#myNavList + div h3{
    float:right;
    margin:5px 0 0 0;
}

#logoFooter img {
    position:relative;
    width:80%;
    margin-left: 10%;
}

#logoFooter{
    padding: 64px 20px 0 20px;
}

img.slides{
    width:90%;
    margin-left: 5%;
}
